<div class = "row">
    <div class = "col s12 article-border">
        <div class = "row">
            <div class = "col s5 ">
                <div class = "title">
                   <h4><a name="title" class="text" href="{{this.url}}" target="_blank">{{this.title}}</h4>
                   <a name="url" href="{{this.url}}" type='hidden'> 
                </div>
            </div>
            <div class = "col s5"></div>
            <div class = "col s2">
                <form action="/api/saveArticle" method="POST">
                    <button class="text btn" type="submit" >Save Article</button>
                </form>
            </div>
        </div>
        <div class = "row">
            <div class = "col s6">
                <div class ="Description", name="description">
                    {{this.description}}
                </div>
            </div>
            
        </div>
    </div>
</div>

